<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport", content="width=<device-width",initial-scale="1.0">
    <meta name="author" content="suman">
    <meta name="keywords" content="consult counsel guidance teaching help mentor tution teacher expert dancer music teacher professional doctor writter painter  healthworker counselling best in india consulting session video lecture video session startup">
    <meta name="description" content="Consult & Counsel is an online consulting service where people seeking guidance in any field is counselled by a Mentor who is expertised in the same area">
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'basic.css' %}">
    <link rel="icon" href="{% static 'COUNC.jpeg' %}">
    <title>Successful</title>
</head>
<body>
    <br><br>
    <div class="container-fluid lll">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-md-6">
            <img src="{% static 'people.jpg'%}" height="350px" width="100%">
            <h3 class="pox kk">Welcome to our family.</h3>
            <h3 class="pox kk">We are ready to give you the best service.</h3>
            <h5><a href="/">login here</h5>
        </div><br><br>
    </div>
</div>
</html>