<!DOCTYPE html>
{% extends 'base.html'%}
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="suman">
    <meta name="keywords" content="consult counsel guidance teaching help mentor tution teacher expert dancer music teacher professional doctor writter painter  healthworker counselling best in india consulting session video lecture video session startup">
    <meta name="description" content="Consult & Counsel is an online consulting service where people seeking guidance in any field is counselled by a Mentor who is expertised in the same area">
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <title>ACCOUNT</title>
</head>
<body>
    {% block content %}
    <div class="container-fluid lll">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <h3 class="pox">Profile details</h3>
                <form  method="POST" class="form-group">
                    {%csrf_token%}
                    {%for t in data%}
                    <h5 class="tox">{{t.label_tag}} {{t}}</h5>
                    {% endfor %}
                </form>
                <a href="editprofile"><button class="btn btn-dark">EDIT PROFILE</button></a>
                <a href="password"><button class="btn btn-success">CHANGE PASSWORD</button></a>
                <a href="logout"><button class="btn btn-warning">LOGOUT</button></a>
                <a href="/"><button class="btn btn-primary">GO HOME</button></a>
            </div><br>
        </div>
    </div>
    {% endblock content %}
</body>
</html>