<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
</head>
<body>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <form method = "POST" novalidate>
            {% csrf_token %}
            {{ form_non_field_errors }}
            {%for i in form%}
            <p>{{ i }}</p>
            <p class="kl">{{i.errors}}</p>
            {%endfor%}
            <input type = "submit" value = "Submit">
        </form>
        </div>
    </div>
</body>
</html>