<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="suman">
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <style>
    </style>
    <link rel="icon" href="{% static 'logo.png' %}">
    <link rel="stylesheet" href="https://www.pubik.in/static/basicLightbox.min.css">
<body>
    <div class="columns">
        <div class="column">
            <div style="border-radius: 4px; background-color: #18253f;padding-top: 0.5rem;padding-bottom: 0.5rem;max-height: 350px;">
                <a href="./services/itr-filings.html">
                    <div class="has-text-centered">
                        <img src="./static/img1.svg" alt="" style="max-width: 250px;">
                    </div>
                    <h2 class="is-size-4 is-size-5-mobile has-text-centered"
                        style="font-family: 'Inter', sans-serif;padding-bottom: 1rem;">
                        <strong style="color: #fcfcfc;">Income Tax</strong>
                    </h2>
                </a>
            </div>
        </div>
        <div class="column">
            <div
                style="border-radius: 4px; background-color: #18253f;padding-top: 0.5rem;padding-bottom: 0.5rem;max-height: 350px;">
                <a href="./services/gst.html">
                    <div class="has-text-centered">
                        <img src="./static/img2.svg" alt="" style="max-width: 250px;">
                    </div>
                    <h2 class="is-size-4 is-size-5-mobile has-text-centered"
                        style="font-family: 'Inter', sans-serif;padding-bottom: 1rem;">
                        <strong style="color: #fcfcfc;">GST</strong>
                    </h2>
                </a>
            </div>
        </div>
        <div class="column">
            <div
                style="border-radius: 4px; background-color: #18253f;padding-top: 0.5rem;padding-bottom: 0.5rem;max-height: 350px;">
                <a onclick="tds.show()">
                    <div class="has-text-centered">
                        <img src="./static/img3.svg" alt="" style="max-width: 250px;">
                    </div>
                    <h2 class="is-size-4 is-size-5-mobile has-text-centered"
                        style="font-family: 'Inter', sans-serif;padding-bottom: 1rem;">
                        <strong style="color: #fcfcfc;">TDS</strong>
                    </h2>
                </a>
            </div>
        </div>
    </div>

    <div class="columns">
        <div class="column">
            <div
                style="border-radius: 4px; background-color: #18253f;padding-top: 0.5rem;padding-bottom: 0.5rem;max-height: 350px;">
                <a onclick="accounting.show()">
                    <div class="has-text-centered">
                        <img src="./static/img4.svg" alt="" style="max-width: 250px;">
                    </div>
                    <h2 class="is-size-4 is-size-5-mobile has-text-centered"
                        style="font-family: 'Inter', sans-serif;padding-bottom: 1rem;">
                        <strong style="color: #fcfcfc;">Accounting</strong>
                    </h2>
                </a>
            </div>
        </div>
        <div class="column">
            <div
                style="border-radius: 4px; background-color: #18253f;padding-top: 0.5rem;padding-bottom: 0.5rem;max-height: 350px;">
                <a href="./services/company-incorporation.html">
                    <div class="has-text-centered">
                        <img src="./static/img5.svg" alt="" style="max-width: 250px;">
                    </div>
                    <h2 class="is-size-4 is-size-5-mobile has-text-centered"
                        style="font-family: 'Inter', sans-serif;padding-bottom: 1rem;">
                        <strong style="color: #fcfcfc;">StartUp Services</strong>
                    </h2>
                </a>
            </div>
        </div>
        <div class="column">
            <div
                style="border-radius: 4px; background-color: #18253f;padding-top: 0.5rem;padding-bottom: 0.5rem;max-height: 350px;">
                <a href="./services/wills.html">
                    <div class="has-text-centered">
                        <img src="./static/img6.svg" alt="" style="max-width: 250px;">
                    </div>
                    <h2 class="is-size-4 is-size-5-mobile has-text-centered"
                        style="font-family: 'Inter', sans-serif;padding-bottom: 1rem;">
                        <strong style="color: #fcfcfc;">Wills</strong>
                    </h2>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
        