<!DOCTYPE html>
{% extends 'base.html'%}
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="suman">
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <title>File Returns</title>
    <link rel="icon" href="{% static 'logo.png' %}">
    <style>
        .pox{
            text-align:center;
        }
    </style>
</head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 pox">
                Mr. Gaurav, you are welcome to ABC Consultants online 
                ITR filing platform, please provide us some more 
                information about you so we can proceed.
                <form class="form-group lk" action="itrdetails" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {%for i in fm%}
                    <h5 class="kk">{{ i.label }}</h5>
                    <h5 class="kk">{{ i }}{{i.errors|striptags}}</h5>
                    {%endfor%}
                    <button type="submit" class="btn btn-success">SUBMIT</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
    <form action="payment_status" method="POST">
        {% csrf_token %}
        <script src="https://checkout.razorpay.com/v1/checkout.js"
                data-key="rzp_test_mEqDIf8ehJFOX5"
                data-amount="{{ price }}"
                data-currency="INR"
                data-order_id="{{ order_id }}"
                data-buttontext="Pay with Razorpay"
                data-name="File Returns"
                data-description="Transaction"
                data-image="https://easy90.herokuapp.com/static/logo.png"
                data-prefill.name="{{ name }}"
                data-prefill.email="{{ email }}"
                data-prefill.contact="{{ phone }}"
                data-theme.color="#def052">
        </script>
        <input type="hidden" custom="Hidden Element" name="hidden">
    </form>
</div>
</div>
    {% endblock content %}
</body>
</html>
        