<!DOCTYPE html>
{% extends 'base.html'%}
{%load static%}
<html lang="en">
<head>
</head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 pox">
                Please fill this form correctly
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <form class="form-group lk" action="itrdetails" method="POST" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    {{fm_non_field_errors}}
                    {%for i in fm%}
                    <p>{{ i.label }}</h5>
                    <h5 class="kk">{{ i }}{{i.errors}}</h5>
                    {%endfor%}
                    <button type="submit" class="btn btn-outline-success">submit</button>
                </form>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>
        