<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="suman">
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <style>
        .pox{
            text-align:center;
        }
    </style>
</head>
<body><br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 pox">
                Mr. Gaurav, you are welcome to ABC Consultants online 
                ITR filing platform, please provide us some more 
                information about you so we can proceed.
                <form class="form-group lk" action="itrdetails" method="POST">
                    {% csrf_token %}
                    {%for i in fm%}
                    <h5 class="kk">{{ i.label }}</h5>
                    <h5 class="kk">{{ i }}{{i.errors|striptags}}</h5>
                    {%endfor%}
                    <button type="submit" class="btn btn-success">SUBMIT</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
        