<!DOCTYPE html>
{% extends 'base.html'%}
{% load static%}
<html lang="en">
<head>
</head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 pox">
                {%if messages%}
                {%for i in messages%}
                <span class="msg">{{i}}</span>
                {%endfor%}
                {%endif%}
                <h4>Preparation to file ITR</h4>
                Income tax dept tracks these 46 financial transactions of yours via the Annual Information StatementIncome tax dept tracks these 46 financial transactions of yours via the Annual Information Statement
                The income tax department has launched the Annual Information Statement or also known as AIS. It shows the information the income tax department has of an individual. Here is a look at 46 financial transactions that the tax department knows about you via the AIS.
                How to change password on income tax portal using Aadhaar OTP, e-file OTP, DSC?
                ITR filing: How to update your profile details on the new income tax portal?
                How to claim credit of TDS deducted by employer but not paid to govt?<br>
                <a href="itrdetails"><button class="pox btn btn-dark pol">File ITR</button></a>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>
        