<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="suman">
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="icon" href="{% static 'logo.png' %}">
    <title>TRANSCATION</title>
</head>
<body>
    <br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <h4>Thank You for your purchase, 
                following are your payment details</h4>
                <h4 class="pox">Payment Status : {{ status }}</h4>
                <h5 class="pox">Transcation_id: {{x}}</h5>
                <h5 class="pox">Order_id: {{y}}</h5>
                <a href="/"><h5 class="pox">Home page</h5></a>
                <a href="invoice"><button class="btn btn-dark">Download your invoice</button></a>
            </div>
        </div>
    </div>
</body>
</html>