<!DOCTYPE html>
{% extends 'base.html'%}
{% load static%}
<html lang="en">
<head>
</head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 lk">
                <h4>Thank You for your purchase, following are your payment details</h4><br>
                <h4 class="pox">Payment Status : {{ status }}</h4><br>
                <h5 class="pox">Transcation_id: {{x}}</h5><br>
                <h5 class="pox">Order_id: {{y}}</h5><br>
                <a href="/"><h5 class="pox">Home page</h5></a><br>
                <a href="invoice"><button class="btn btn-dark pox" style="width:100%">Download your invoice</button></a>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>